---
import { Icon } from 'astro-icon';

import type { Company } from 'src/constants/work-info';

interface Props extends Company {}

const { name, position, link, date, techStackIcons } = Astro.props;
---

<a
  href={link}
  target="_blank"
  class="flex justify-between items-center border-teal-950 border-2 rounded-xl p-5 text-teal-100 hover:border-teal-500"
  aria-label={name}
>
  <div>
    <p class="mb-4 font-extrabold">{name}</p>
    <p class="font-bold text-teal-400">{position}</p>
    <p class="text-lg text-teal-600">{date}</p>
  </div>
  <div class="hidden md:flex flex-row gap-2 text-teal-900">
    {
      techStackIcons.map(({ name, title }) => {
        return <Icon class="md:w-14 xl:w-16" name={name} title={title} />;
      })
    }
  </div>
</a>
