---
import MobileNavbarItem from "./MobileNavbarItem.astro";
import NavbarItem from "./NavbarItem.astro";
import { Icon } from "astro-icon";
import {
  github,
  linkedin,
  instagram,
  mail,
  mailto,
  youtube,
} from "src/constants/social-links";
import { Image } from "astro:assets";
---

<div
  class="hidden lg:w-72 border-r border-zinc-800 border-opacity-70 text-zinc-300 h-screen lg:flex flex-col pt-12 pb-10 px-5"
>
  <div class="flex flex-col items-center mb-24">
    <a href="/" aria-label="Home">
      <Image
        class="rounded-full mb-4"
        src="/images/profile/profile-photo.webp"
        width={112}
        height={112}
        alt="Profile Photo"
        format="webp"
        loading="lazy"
      />
    </a>
    <div class="flex gap-3 items-center">
      <p class="mb-1 text-lg font-semibold text-zinc-50">Alper Kantarci</p>
      <Icon name="mdi:laptop-mac" class="w-5 text-teal-300" />
    </div>
    <a href={mailto} class="text-zinc-400 font-semibold" aria-label="mail"
      >{mail}</a
    >
  </div>

  <nav class="mb-16">
    <ul class="flex flex-col gap-y-3">
      <NavbarItem icon="mdi:home" label="Home" link="/" />
      <NavbarItem icon="mdi:note-edit" label="Writing" link="/writing" />
      <NavbarItem icon="mdi:devices" label="Setup" link="/setup" />
    </ul>
  </nav>

  <div class="flex items-end h-screen gap-x-5 px-4">
    <a href={mailto} title="email" aria-label="email">
      <Icon name="mdi:email" class="w-5 hover:text-teal-300" />
    </a>
    <a href={github} target="_blank" title="github" aria-label="email">
      <Icon name="mdi:github" class="w-5 hover:text-teal-300" />
    </a>
    <a href={linkedin} target="_blank" title="linkedin" aria-label="email">
      <Icon name="mdi:linkedin" class="w-5 hover:text-teal-300" />
    </a>
    <a href={instagram} target="_blank" title="instagram" aria-label="email">
      <Icon name="mdi:instagram" class="w-5 hover:text-teal-300" />
    </a>
    <a href={youtube} target="_blank" title="youtube" aria-label="email">
      <Icon name="mdi:youtube" class="w-5 hover:text-teal-300" />
    </a>
  </div>
</div>

<div
  class="text-zinc-300 text-sm lg:hidden fixed bottom-0 w-full flex items-center justify-around h-16 border-t border-zinc-900 backdrop-filter bg-zinc-950 backdrop-blur-xl bg-opacity-70 z-10"
>
  <MobileNavbarItem label="Home" icon="mdi:home" link="/" />
  <MobileNavbarItem label="Writing" icon="mdi:note-edit" link="/writing" />
  <MobileNavbarItem label="Setup" icon="mdi:devices" link="/setup" />
</div>
