---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import PostUtils from "src/utils/post-utils";
import { utcToString } from "src/utils/date-utils";
import type { CollectionEntry } from "astro:content";

interface Props {
  blogPost: CollectionEntry<"writings">;
}

const { blogPost } = Astro.props as Props;
---

<Layout title={blogPost.data.title}>
  <div class="flex flex-col max-w-[80ch] mx-auto px-4 sm:px-0">
    <h1 class="text-4xl font-semibold mb-4">{blogPost.data.title}</h1>

    <h2 class="text-xl text-zinc-500 mb-6">{blogPost.data.description}</h2>

    <div class="flex space-x-4 items-center mb-6">
      <Image
        class="rounded-full"
        src="/images/profile/profile-photo.webp"
        width={50}
        height={50}
        alt="Profile Photo"
        format="webp"
        loading="lazy"
      />
      <div>
        <p class="font-semibold">{blogPost.data.author}</p>
        <p class="text-sm text-zinc-500">
          {utcToString(blogPost.data.createdAt)} - {
            PostUtils.readingTime(blogPost.body!)
          } min read
        </p>
      </div>
    </div>

    <div class="h-min overflow-hidden rounded-2xl">
      <Image
        src={blogPost.data.image.src}
        alt={blogPost.data.image.alt}
        width="800"
        height="400"
        quality="50"
        format="avif"
        loading="lazy"
        decoding="async"
        class="rounded-lg mb-10 h-96 object-cover hover:scale-125 transition-all duration-500 cursor-pointer"
      />
    </div>

    <div
      class="prose prose-invert prose-teal"
      set:html={blogPost.rendered?.html}
    />
  </div>

  <script src="../utils/copy-code.ts"></script>
</Layout>
